{% extends "base.html" %}

{% block title %} Barkeeper - {{ cocktail.name.title() }} {% endblock %}
{% block app_content %}
    <table>
        <tr valign="top">
            <td>
                <h1>{{ cocktail.name.title() }}</h1>
            </td>
        </tr>
    </table>
    <hr>
    <div>
        <h4>{{ _('Ingredients') }}</h4>
        <ul>
            {% for ingr, quantity_unit in cocktail.ingredients %}
                {% set quantity, unit = quantity_unit %}
                <li>{{ ingr }} {{ quantity }} {{ unit }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>{{ _('Preparation') }}</h4>
        <ol>
            {% for step in cocktail.preparation %}
            <li> {{ step }} </li>
            {% endfor %}
        </ol>
    </div>
    <div style="padding-top:10px;">
        <hr>
        {% if ask_eval == 'True' %}
        <p>{{ ('What did you think of the recommendation') }}?</p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.option }}
            {{ form.submit() }}
        </form>
        {% endif %}

         <div class="text-center" style="padding-top:10px;">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}